*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
body{
  min-height: 70vh;
  background-image: url('https://img.freepik.com/premium-vector/abstract-background-3d-globe-sphere-dotted-world-map-futuristic-style_34645-1144.jpg');
  background-size: cover;
  background-position: center;
}

.Nav-Header {
  background-color: #e8f7ff;
  padding: 8px 0;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
}
.form input{
  height: 45px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.form input:focus{
  box-shadow: 0 1.5px 0 rgba(0,0,0,0.2);
}

.form a{
  font-size: 16px;
  color: #0056b3;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.form a:hover{
  text-decoration: underline;
}

.form input.button{
  color: #fff;
  background: #007bff;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
  font-family: 'Poppins', sans-serif;
}
.form input.button:hover{
  background: #0056b3;
}

.signup{
  font-size: 17px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.signup label{
  color: #007bff;
  cursor: pointer;
}

.signup label:hover{
  text-decoration: underline;
}
